@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #071d07;
    --background: #f7fdf7;
    --primary: #42d147;
    --secondary: #90d9e4;
    --accent: #6fa8dc;
  }
  .dark {
    --text: #e2f8e2;
    --background: #020802;
    --primary: #2ebd33;
    --secondary: #1b646f;
    --accent: #235b90;
  }
}
/**/
/* * { */
/*   margin: 0; */
/*   padding: 0; */
/* } */
